.container-account {
    min-width: 800px;
    background-color: #12002b;
    min-height: 100vh;
    padding: 2rem;
  }
  
  /* Bloc solde en haut de page */
  .account {
    background-color: white;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 5px;
  }
  
  .account-content-wrapper-transactions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
  }
  
  .account-title {
    margin: 0;
    font-size: 1.5rem;
    color: #2c3e50;
  }
  
  .account-amount {
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5rem 0;
    color: #2c3e50;
  }
  
  .account-amount-description {
    margin: 0;
    color: #2c3e50;
  }
  
  /* Tableau */
  .transactions-section {
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    color: #2c3e50;
  }
  
  .transactions-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .transactions-table th,
  .transactions-table td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
  }
  
  .transactions-table th {
    background-color: #f2f2f2;
  }
  
  .transactions-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Accessibilité */
  .sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }
  .transaction-button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border: none;
    background-color: #00bc77;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .transaction-button:hover {
    background-color: #00a76f;
  }
  